body {
  margin-top: 20px;
  overflow-y: scroll;
}

header h1 {font-family: 'Oswald', sans-serif;
    font-size: 38px;
    margin: 0;
    float: left;
    color: #2D2D2D;
  }

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  margin-left: 50px;
}

header::after {
  margin-left: 50px;
  content: '';
  display: table;
  clear: both;
  display: inline-block;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: #707070;
font-family: 'Oswald', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
}

nav a:hover {
  color: #E95C01;
}

nav a::before {
  content: '';
  display: block;
  height: 4px;
  background-color: #E95C01;

  position: absolute;
  top: 17;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.animated-text{
  font-family: 'Oswald', sans-serif;
  color: #E95C01;
  position: absolute;
  top: 50%;
  left: 50;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 0 40px;
  height: 60px;
  overflow: hidden;
  margin-left: 400px;
  float: right;
}

.line{
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  line-height: 60px;

}

.line:first-child{
  animation: anim 12s infinite;
}

@keyframes anim {
  0% {
    margin-top: 0;
  }
  16% {
    margin-top: -60px;
  }
  33% {
    margin-top: -120px;
  }
  50% {
    margin-top: -180px;
  }
  66% {
    margin-top: -120px;
  }
  82%% {
    margin-top: -60px;
  }
  100% {
    margin-top: 0;
  }
}

img[src*= "about1.png"] {
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 500px;
    float: right;
    margin-right: 50px;
    margin-top: 40px;
}

.container-intro p {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  position: relative;
  width: 650px;
  height: 270px;
  padding: 0px;
  top: -15px;
  left: 70px;
  box-sizing: border-box;
  line-height: 1.6;
}

.container-intro h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  position: relative;
  padding: 0px;
  top: 10px;
  width: 650px;
  left: 70px;
  color: #444;}
}

.clear { clear:both; }

.container-awards h4 {
  float: right;
  font-family: 'Oswald', sans-serif;
  background-color: gray;
  font-size: 30px;
  height: 40px;
  width: 100px;
}

.container-awards p {
  float: right;
  margin-right: 70px;
  font-family: 'Montserrat', sans-serif;
  background-color: gray;
  font-size: 15px;
  height: 600px;
  width: 500px;
}

.clear { clear:both; }
